:root{
    --1ercolor:#08551b;
    --2docolor:hsl(209, 89%, 49%);
    /* hsl(209, 89%, 49%); */
    --3ercolor:rgb(243, 58, 67);
    /* rgb(243, 58, 67); */
    --4tocolor:rgb(119, 216, 119);
    --h1:5rem;
    --h2:4.5rem;
    --h3:2.5rem;
    --p:1.8rem; 
    --tamaño:720px;   
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'News Cycle', sans-serif;    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.main-section{
    width: 100%;
    min-width: 320px;
    height: var(--tamaño);    
}
/*Section uno*/
.audiocontrol{
    position: absolute;
    opacity: 0.4;
    margin-top:650px;
}
.header{    
    background-image: url('../assets/img/principal2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
}
.header-article{    
    min-width: inherit;
    height: inherit;
    background: rgba(242, 245, 243, 0.363);
}
.header p{    
    font-size: 2rem;
    /* font-weight: 700;     */
    color: var(--1ercolor);
    padding-top: calc(40%);
    padding-left: calc(30%);
    padding-right: calc(5%);
    text-align: right; 
    /* opacity: 1; */
}
.header h1{
    font-size: 5rem;
    color: var(--1ercolor);
    text-align: center;
    margin-top: 20rem;
    text-shadow: 0.5rem 0.5rem 0.5rem white;    
}
.header h1:hover{
    font-size: 5rem;
    color: white;
    text-align: center;
    margin-top: 20rem;
    text-shadow: 0.5rem 0.5rem 0.5rem black;
    transition-duration: 2s;  
}
.header-div{
    display: flex;
    justify-content: center;    
    align-items: center;    
}
.header-h3, .header-span{
    font-family: 'Italianno', cursive;
    font-size: 5rem;    
}

.header-div span{
    font-size: 3rem;
    color:white;
    width: 30px;
    text-align: center;
    font-weight: 900;
    padding-left: 7px;
}
.gilbert{
    color:white;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.gilbert:hover{
    color:var(--2docolor);
    font-size: 6rem;
    transform: rotate(-15deg);
    text-shadow: 0.5rem 0.1rem 0.2rem black;
    transition-duration: 2s;
}
.karen{
    color:white;
    text-shadow: 0.1em 0.1em 0.2em black;
}
.karen:hover{
    color:var(--3ercolor);
    font-size: 6rem;
    transform: rotate(15deg);
    text-shadow: 0.5rem 0.1rem 0.2rem black;
    transition-duration: 2s;
}
a{
    text-decoration: none;   
    color:var(--1ercolor);
}
/*Seccion 2*/
.section-ceremonia{
    height: var(--tamaño);
    Display: flex; 
    flex-direction: column;
    align-items: center;
    background-image: url('../assets/img/wedding.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2rem;
    justify-content: center;
    color: var(--1ercolor);
}
.section-ceremonia-trans{
    width: 100%;
    min-width: inherit;
    height: inherit;
    background: rgba(242, 245, 243, 0.363);
    Display: flex; 
    flex-direction: column;
    justify-content: center;
}
.invitacion{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    /* font-size: rem; */
    text-align: center;
}
.divfecha{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3, 5rem);
    grid-template-columns: repeat(3, 7rem);
    text-align: center;
    font-weight: bold;
    /* font-size: 1.8rem;     */
}
.div-line{
    border-top: 2px solid var(--4tocolor);
    border-bottom: 2px solid var(--4tocolor);
}
.mes{
    grid-area: 1/1/2/4;
    text-align: center;     
}
.fecha{
    font-size: 5rem;    
    font-weight: 700;
}
.hora{
    grid-area: 3/1/3/4;    
}
.div-parroquia, .div-recepcion{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.8rem;
    text-align: center;    
}
.material-symbols-outlined {
  font-variation-settings:'FILL' 0, 'wght' 400,'GRAD' 0,'opsz' 24;  
}

/* Seccion 3 */
.section-karen{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: #ffb4b4; */
    /* font-size: 1.4rem; */
    background-image: url('../assets/img/fondo5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.karentransparente{
    min-width: inherit;
    height: inherit;
    background: rgba(242, 245, 243, 0.363);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
/* Section 4 */
.section-gilbert{
    background-image: url('../assets/img/fondo6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.karen-foto, .gilbert-foto{
    width: 200px;    
}
.section-gilbert{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-image: url('../assets/img/fondo3.jpg'); */
    /* background-color: #78a3c5; */
    /* font-size: 1.4rem; */
}
.gilberttransparente{
    min-width: inherit;
    height: inherit;
    background: rgba(242, 245, 243, 0.363);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.section-gilbert span, .section-karen span{
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.section-gilbert .p, .section-karen .p{
    grid-area: 2/1/3/3;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2rem;
    color: var(--1ercolor);
}
.section-gilbert div{
    grid-area: 3/1/3/3;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.6rem;
    text-align: left;
    color: var(--1ercolor);
}
.section-karen div{
    grid-area: 3/1/3/3;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.6rem;
    text-align: right;
    color: var(--1ercolor);
}
/* Seccion 5 */
.confirmarasistencia{
    width: 100%;
    min-width: 320px;
    /* max-width:360px ; */
    height: var(--tamaño); 
    background-image: url('../assets/img/fondo7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 10px;   */
    justify-content: center;
    color: var(--1ercolor);
}
.confirmarasistenciatransparente{
    width: 100%;
    min-width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(242, 245, 243, 0.363);   
}
.form-div--radio{
  margin-left: calc(10%);  
  display: flex;
  justify-content: space-around;
  /* text-align: left; */
}
.confirmarasistencia h3{
    font-size: 2rem;
    font-weight: 700;
}
.formulario{
    width: 90%;
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: repeat(5, 50px);
    gap: 5px;
    align-items: center;
    font-size: 1.8rem;
}
.form-input {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid var(--4tocolor);    
    opacity: 0.7;
    padding-left: 7px; 
}

.btn-enviar{   
    display: flex;
    justify-content: center;
    grid-area: 5/1/5/3;    
}
.btn-enviar input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    opacity: 0.7; 
}   
.btn-enviar input:hover{  
    border-radius: 5px;
    box-shadow: 5px 5px 2px;
    color:var(--1ercolor);
}   
.alineacion-left{
    padding-left: calc(20%);
    font-weight: bold;
}
.vestimenta{
    display: inline-block;
    width: 50px;
    height: 90px;
    background-image: url('../assets/img/vestimenta.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.confirmarasistencia p{
    font-size: 1.5rem;
    font-weight: bold;
}
.direccion{
    margin-top: calc(10%);
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.6rem;
    text-align: center;
}
.direccion span{
    text-align: center;
}

.confirmacion{
    display: none;
    position: absolute;
    justify-content: center;    
    min-width: 200px;
    min-height: 30px;
    margin-top: 560px;
    background-color: rgba(0, 128, 0, 0.418);
    border: 2px solid rgba(2, 41, 2, 0.199);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
    color: white;    
    font-size: 1.2rem;
}
.padrinos{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/img/fondo3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    text-align: right;
    color: var(--1ercolor);
}
.padrinostransparente{
    min-width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(242, 245, 243, 0.363);
}
.padrinos h3{
    width: 100%;    
    /* font-family: 'News Cycle', sans-serif; */
    font-family: 'Italianno', cursive;
    font-size: 3rem;
    font-weight: 700; 
    text-align: right;
    padding-right: 30px;
}
.padrinos p{
    font-size: var(--p);
    padding-right: 30px;
    padding-left: 100px;
}
@media (min-width: 600px){
    .audiocontrol{       
        margin-top:calc(50%);
    }
    .header{
        width: 100%;
        order: 1;
        min-width: 150px;
        height: 400px;
    }
    .header p{    
        padding-top: calc(5%);
        padding-left: calc(10%);
        padding-right: calc(5%);  
        font-size: 1.6rem;   
    }
    .header h1{
        margin-top: 5rem;
        margin-left: 10rem;   
        text-align: left;
    }
    .header h1:hover{
        margin-top: 5rem;
        margin-left: 10rem;   
        text-align: left;
        color: var(--2docolor);
    }
    .section-ceremonia {
        width: 100%;
        order: 4;
        height: 500px;
        font-size: 1.6rem;
    }
    .section-karen {
        width: 50%;
        order: 2;
        height: 500px;
    }
    .section-gilbert {
        width: 50%;
        order: 3;
        height: 500px;
    }
    .padresg h3, .padresk h3{
        font-size: 1.6rem;
    }
    .section-gilbert p, .section-karen p{
        font-size: 1.6rem;
    }
    .padrinos {
        width: 50%;
        order: 5;
        height: 500px;
    }
    .padrinos p{
        font-size: 1.6rem;
    }
    .confirmarasistencia {
        width: 50%;
        order: 6;
        height: 500px;
    }
    .formulario{
        font-size: 1.6rem;
    }
    .formulario div{
        padding-left: calc(10%)%;
    }
    .confirmacion{
        margin-top: 378px;       
    }
    .direccion{
        margin-top: calc(10%);        
    }
}
@media (min-width: 800px){
    .container{
        background-color: #7cc78f;
        /* background: rgba(242, 245, 243, 0.363); */
    }
    .audiocontrol{       
        margin-top:600px;
    }
    .header {
        width: 40%;
        min-width:150px;
        max-width: 360px;
        height: var(--tamaño);
        order: 2;
    }
    .header p{    
        font-size: 1.6rem;    
        padding-top: calc(40%);
        padding-left: calc(30%);
        padding-right: calc(5%);
        text-align: right;     
    }
    .header h1{
        font-size: 4rem;
        color: var(--1ercolor);
        text-align: center;
        margin-top: 20rem;
        text-shadow: 0.5rem 0.5rem 0.5rem white;    
    }
    .header h1:hover{
        font-size: 4rem;
        color: white;
        text-align: center;
        margin-top: 20rem;
        text-shadow: 0.5rem 0.5rem 0.5rem black;
        transition-duration: 2s;  
    }
    .section-ceremonia{
        width: 100%;
        min-width:150px; 
        max-width: 1080px;       
        height: var(--tamaño);
        order: 4;
        font-size: 1.6rem;
    }
    .section-karen {
        width: 30%;
        min-width:150px;
        max-width: 360px;
        height: var(--tamaño);
        order: 1;       
    }
    .section-gilbert {
        width: 30%;
        max-width: 360px;
        height: var(--tamaño);
        order: 3;              
    }
    .section-gilbert p, .section-karen p{
        font-size: 1.6rem;
    }
    .padrinos {
        width: 50%;    
        max-width: 540px;           
        height: var(--tamaño);
    }
    .padrinos p{
        font-size: 1.6rem;
    }
    .confirmarasistencia {
        width: 100%;
        max-width: 540px;
        height: var(--tamaño);        
    }
    .formulario{
        font-size: 1.6rem;
    }
    .confirmacion{
        margin-top: 620px;       
    }
    .invitacion{
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
        /* font-size: rem; */
        text-align: center;
        font-weight: bold;
    }
    .padresg h3, .padresk h3{
        font-size: 1.6rem;
    }
}
